.btn-cart {
    border: 1px solid pink;
    padding: 10px;
    background-color: white;
    color: palevioletred;
    border-radius: 5px;
    width: 100px;
}

.btn-cart:hover {
    background-color: pink;
    color: white;
}

header {
    margin-bottom: 20px;
}

.products {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.product-item {
    width: 200px;
    border: 1px solid black;
    padding: 20px;
    text-align: center;
    margin-top: 15px;
    border-radius: 10px;
}

.product-item:hover {
    box-shadow: 0 0 10px rgba(0,0,0,0.5)
}

.product-item h3 {
    text-transform: uppercase;
}
.buy-btn {
    border: 1px solid pink;
    background-color: white;
    color: palevioletred;
    border-radius: 5px;
    width: 100px;
    padding: 10px;
}

.buy-btn:hover {
    background-color: pink;
    color: white;
}