.btn-cart {
    border: 1px solid pink;
    padding: 10px;
    background-color: white;
    color: palevioletred;
    border-radius: 5px;
    width: 100px;
    height: 35px;
}

.btn-cart:hover {
    background-color: pink;
    color: white;
}

header {
    margin-bottom: 20px;
    background-color: #FFE6F0;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.products {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.product-item {
    width: 200px;
    border: 1px solid black;
    padding: 20px;
    text-align: center;
    margin-top: 15px;
    border-radius: 10px;
}

.product-item:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5)
}

.product-item h3 {
    text-transform: uppercase;
}

.buy-btn {
    border: 1px solid pink;
    background-color: white;
    color: palevioletred;
    border-radius: 5px;
    width: 100px;
    padding: 10px;
}

.buy-btn:hover {
    background-color: pink;
    color: white;
}
.cart {
    position: absolute;
    top: 70px;
    right: 70px;
    border: 1px solid black;
    justify-items: flex-end;
    z-index: 2;
    display: none;
    background-color: white;
}

.cart-item {
    margin: 10px;
    border: 1px solid black;
}
.cart-item img {
    float: left;
    margin: 5px;
}
.item {
    display: flex;
    margin: 5px;
}
